<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{title}}</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet"/>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">
					<image src="/images/icon.jpg" width="35"></i>
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/">Главная</a>
					</li>
				</li>
				<!-- остальные заменил на цикл по типам -->
				{% for type in types_from_types %}
					<li class="nav-item">

						<a class="nav-link" href="/?type={{ type.nametype }}">{{ type.nametype|title }}</a>
					</li>
				{% endfor %}
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/search">Поиск
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/crazy_object/create">Добавить
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/crazy_object/add">Добавить тип
					</a>
				</li>
			</ul>
		</div>
		<form action="/logout" method="post">
			<button class="btn btn-danger btnloguot" type="submit">Выйти</button>
		</form>
	</body>
</html></div></nav></div>
<div class="container" style="max-width: 1520px!important">
<div class="d-flex gap-5">
<div class="col-9"> {% block content %}{% endblock %}
</div>
<div class="col-4 pt-5">
	<div class="page-history" style="overflow:hidden">
		<h4>История посещений:</h4>

		{% for page in page_history %}
			<div class="p-2 mb-6 bg-light">
				<a href="{{ page }}">{{ page }}</a>
			</div>
		{% endfor %}

	</div>
</div></div></div><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script></body></html>
